.content_wrapper_bg{
    background: #e8e8e8;
}

.content_wrapper{
    overflow: hidden;
    margin: 50px 0;
}

.content_left{
    width: 460px;
    margin-right: 30px;
}

#about_us h2{
    background: url(../img/about_icon.png) no-repeat;
    background-position: left center;
    padding-left: 45px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #515151;
    margin-bottom: 25px;
}

.content_left p{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 14px;
    color: #515151;
}

.content_right .content_right_h2{
    background: url(../img/portfolio_icon.png) no-repeat;
    background-position: left center;
    padding-left: 45px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #515151;
    margin-bottom: 25px;
}

.content_right ul{
    list-style: none;
}

.content_right ul li{
    float: left;
    margin: 0 10px;
    border-radius: 5px;
    background: white;
}

.content_right ul li a{
    display: block;
}

.content_right ul li a img{
    padding: 5px;
    border-radius: 5px;
}