.header_bg{
    background: #e8e8e8;
}

#header .logo h1{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 33px;
    color: #515151;
}

#header .menu{
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #afafaf;
    margin-top: 20px;
}

#header .menu ul{ 
    list-style: none;
}

#header .menu ul li{
    float: left;
    padding: 5px 15px;
}

#header .menu ul li a{
    display: block;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 19px;
    color: #515151;
}