#header{
    padding: 20px 0;
    overflow: hidden;
}

.header_bg{
    background: #e8e8e8;
}

#header .logo h1{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 33px;
    color: #515151;
}

#header .menu{
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #afafaf;
    margin-top: 15px;
    padding: 2px 0;
}

#header .menu ul{ 
    list-style: none;
}

#header .menu ul li{
    float: left;
    padding: 5px 15px;
    background: url(../img/menu_border.png) no-repeat;
    background-position: center right;
}

#header .menu ul li:last-child{
    background: none;
}

#header .menu ul li:last-child:hover{
    background: url(../img/menu_hover1.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#header .menu ul li:hover{
    background: url(../img/menu_hover.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#header .menu ul li a{
    display: block;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 19px;
    color: #515151;
}